 .containers{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
 gap: 10px;
 

}

.card-price {
    font-weight: bold; /* Bold for emphasis */
    font-size: 1.2rem;
    color: #ff5722; /* Custom color for price */
  }
  
